In [1]:
'''         STRING FORMATING METHODS HERE      '''
''' The two formating method are
.format()
f-strings'''

' The two formating method are\n.format()\nf-strings'

In [4]:
print("hello my name is {}".format("vijaypranav"))
print("Om {} {} {}".format("narayana","is","the greatest god"))

hello my name is vijaypranav
Om narayana is the greatest god

In [7]:
# these elements inserted into the formated strings can also be odered using the index position of the respected iterable sequece eg-:
print('the {2} {1} {0}'.format('fox','brown','quick'))
''' we can even make these inserted sequence repeated here:-'''
print('the {0} {0} {0}'.format('fox','brown','quick'))

the quick brown fox
the fox fox fox

In [9]:
''' we can even assign the individual keywords in the assigners and assign them based of the sequences here:-'''
print('the {q} {b} {f}'.format(f ='fox',b ='brown',q ='quick'))
print('the {f} {f} {f}'.format(f ='fox',b ='brown',q ='quick'))

the quick brown fox
the fox fox fox

In [14]:
''' FLOAT FORMATTING FOLLOWS WITH VALUES:WIDTH,PRECISION OF F HERE:-'''
result = 100/777
print("the result is {}".format(result))
print("the result is {r}".format(r=result))

#now we are going to play around with these precision value like 
print("the result is {r:1.3f}".format(r=result))
print("the result is {r:1.6f}".format(r=result))
# if we increase the width value then we will be getting a whole lot of whitespaces here
print("the result is {r:11.6f}".format(r=result))

the result is 0.1287001287001287
the result is 0.1287001287001287
the result is 0.129
the result is 0.128700
the result is    0.128700

In [17]:
result = 104.12345
print("the result is {r:1.2f}".format(r=result))

the result is 104.12

In [11]:
# F - strings or also called as the formated string literals here  or also called as string literal method:-

name = "vijay"
 
''' here we are using a f string to directly insert the sub string instead of using the .format and key or identifer method '''
print(f"Hello my name is  {name}")

Hello my name is  vijay

In [13]:
name = "amirtheesh"
age = 16
print(f"{name} is {age} old")

amirtheesh is 16 old

In [15]:
print('i like{x}'.format(x='pyhton rules!'))

i likepyhton rules!

In [17]:
"""         LIST DATATYPES IN PYTHON        """

In [20]:
my_list = [1,2,3]
my_list = ['string',100,23.2]
print(len(my_list)) # it is ordered sequence of elemets so we can use the indexing and slicing here

3

In [24]:
my_list=['one','two','three']
print(my_list[0])
print(my_list[1:])
#we can also concatenate the list together
my_list2 = ['four','five']
my_list = my_list+my_list2
print(my_list)

one
['two', 'three']
['one', 'two', 'three', 'four', 'five']

In [29]:
# method avaliable in the list datatype
my_list.append('six')
print(my_list)
my_list[0] = 'infinity'
print(my_list)

['one', 'two', 'three', 'four', 'five', 'six', 'six', 'six']
['infinity', 'two', 'three', 'four', 'five', 'six', 'six', 'six']

In [34]:
my_list[-1] = 'seven'
print(my_list)
# method to remove the items from a list here
print(my_list.pop())

['infinity', 'two', 'three', 'four', 'five', 'six', 'seven']
seven

In [40]:
popped_item = my_list.pop(0)
print(popped_item)
# we can also provide an indexposition for the pop functin
print(my_list)

two
['three']

In [48]:
newlist = ['u','o','f','i','e','a']
numlist = [9,6,8,2,7,1,10,3,5]
newlist.sort() # it sorts the list in place and does not return anything so you cannot assign it to any variable type here
print(newlist)
v = newlist.sort()
print(type(v)) # you can clearly see here that it is returning a none type here:-

['a', 'e', 'f', 'i', 'o', 'u']
<class 'NoneType'>

In [5]:
#if we have a collection of variables in a list or tuple python allows you to extract it. this is called as a tuple
fruits = ['apple','banana','cherry']
x,y,z = fruits
print(x)
print(y)
print(z)
numlist.sort()
print(numlist) #now it is in the sorted order here:-
numlist.reverse() # this is also inplace means it does not return anything
print(numlist)

apple
banana
cherry

NameError: name 'numlist' is not defined

In [6]:
''' there is also typeconversion possible in the python like you can convert from one datatype to another.'''
x = 12345
y = 123.456
z = 123j

#convert from int to float:
x = float(x)

#convert from float to int:
y = int(y)

#convert from int to complex:
z = complex(x)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

12345.0
123
(12345+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [7]:
# using the typecasting we can also convert from the string to intger and floating point and vice versa is also posssible here:-
a = int("34")
b = float("123.456")
print(a)
print(b)
# list constructor using the list() function :-
v = list(('appple','banana','orange'))
print(v)

34
123.456
['appple', 'banana', 'orange']

In [8]:
'''                          USING THE IN AND NOT IN OPERATORS IN THE LIST DATATYPES                '''
# the insert method is used to insert an itme in the specifed index in the list datatype here:-
fruit_list = ['orange','cherry','kiwi']
fruit_list.insert(2,'dragonfuit') #The insert() method inserts an item at the specified index:
print(fruit_list)

['orange', 'cherry', 'dragonfuit', 'kiwi']

In [9]:
''' THE EXTEND METHOD IS USED TO APPEND ITEMS FROM ONE ITERATABLE SEQUECE INTO ANOTHER LIST HERE:-'''
# THE EXTEND METHOD IS ALSO USED FOR ADDING MULTIPLE ELEMNTS INTO THE GIVEN LIST:-
l1 = ['i','143','you']
l2 = ['i',4,'you']
l1.extend(l2) # the extend also will not return any value
print(l1)
l3 = l1.extend(l2)
print(type(l3))
#The extend() method does not have to append lists, you can add any iterable objec
this_list=["apple", "banana", "cherry", "orange", "kiwi", "blackcurrant", "watermelon"]
tropical = ("mango", "pineapple", "papaya")
this_list.extend(tropical)
print(this_list)

['i', '143', 'you', 'i', 4, 'you']
<class 'NoneType'>
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'blackcurrant', 'watermelon', 'mango', 'pineapple', 'papaya']

In [4]:
#The remove() method removes the first occurence of the specified item from the list here:-.
# syntax here is List.remove(<value>)

print(this_list)
this_list.remove(("apple"))
print(this_list)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'blackcurrant', 'watermelon', 'mango', 'pineapple', 'papaya']
['banana', 'cherry', 'orange', 'kiwi', 'blackcurrant', 'watermelon', 'mango', 'pineapple', 'papaya']

In [10]:
t1 = ['a','e','i','o','u','a','p','q','q']
t1.remove('a')
print(t1)
t1.remove('q')
print(t1)

['e', 'i', 'o', 'u', 'a', 'p', 'q', 'q']
['e', 'i', 'o', 'u', 'a', 'p', 'q']

In [12]:
#returns the count of the item that you passed as an argument
print(t1.count('e'))
print(t1.count('a'))
# this method clear or removes all the elements in the given list here
t1.clear()
print(type(t1))
print(t1)

0
0
<class 'list'>
[]