In [3]:
'''    Dictionaries   '''
# dictionaries are objects retrived by the key name--
#these objects are unordered and they cannot be sorted..
# the keys in a dictionary are immutable and the keys in the dictinaries are unique
x=0

In [4]:
my_dict = {'key1':'value','key2':'value2'}
print(my_dict)

{'key1': 'value', 'key2': 'value2'}

In [12]:
# to grab a value in the dictinaries instead of using the index locations we are using the key as the index identfiers here:-
print(my_dict['key1'])
prices = {'apple':4.99,'orange':9.89,'chocolate':343.343}
print(prices['chocolate'])
# we can use other iterratble datatypes in the dictinary even the dictionaries itself here
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}
print(d)
# to access the iteratble elements inside the value pairs we need to use this
print(d['k3']['insidekey'])
# similary to acces the insideelements of the list
print(d['k2'][1])

value
343.343
{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insidekey': 100}}
100
1

In [24]:
d2 ={'key1':['a','b','c']}
mylist = d2['key1']
print(mylist)
mylett = mylist[2]  
''' instead of doing all these steps seperately i can do all these steps in a single line using the following methods'''
print(mylett)
print(mylett.upper())

['a', 'b', 'c']
c
C

In [33]:
print(d2['key1'][2].upper())
d = {'k1':100,'k2':200}
# we are assigning new key value pairs to the dictionaries here using this method
d['k3'] = 300
print(d)
''' we can also use the same method to overwrite the existing key value pair here:-'''
d['k1'] = 'fuckwithoutrubber'
print(d)
# to see all the keys and values of the dictionaries here
print(d.keys())
print(d.values())
# if we want them as a key value pair then
print(d.items())

C
{'k1': 100, 'k2': 200, 'k3': 300}
{'k1': 'fuckwithoutrubber', 'k2': 200, 'k3': 300}
dict_keys(['k1', 'k2', 'k3'])
dict_values(['fuckwithoutrubber', 200, 300])
dict_items([('k1', 'fuckwithoutrubber'), ('k2', 200), ('k3', 300)])

In [53]:
emp1 = dict(k1=200,k2=200) # in this method the things which we are giving as keys need not be enclosed in the quotes
print(emp1)
''' WE CAN ALSO CREATE A DICTONARY USING THE LIST AND TUPLE ARGUMENTS IN THE FOLLOWING METHODS HERE:-'''
D =  dict([['name','vishwa'],['age','90'],['salary',0]])
print(D)  # as you can see the dictionary is created
# similarly using the tuple method here:-
F = dict((('name','hementh'),('age','90'),('salary',0)))
print(F)

{'k1': 200, 'k2': 200}
{'name': 'vishwa', 'age': '90', 'salary': 0}
{'name': 'hementh', 'age': '90', 'salary': 0}

In [54]:
# using the del operator you can delete the key value pairs in the dictinary
#syntax is del dict_name[key]
print(F)
del F ['name']
print(F)
# the in or not in operator are used here((these can only be used in the keys of the dictionary not on the values of the dictionaries):-
D = {'a':1,'b':2,'c':3,'d':4}
print(D)
print('age' in D)
print('a' in D)
print(3 in D) # here we can see even though 3 is in the dictionary it is showing false here

{'name': 'hementh', 'age': '90', 'salary': 0}
{'age': '90', 'salary': 0}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
False
True
False

In [56]:
# this method creates a dict from a sequcence containig all the keys  it also assigns a common value to all the keys
# syntax = dict.fromkeys(<keysequence>,(value))

ndn = dict.fromkeys((1,2,3,4,5),(232))
print(ndn) #------ we can see that here

nd2 = dict.fromkeys((3,))  # ---- if no value is assigned it will assign the value as null value here:-
print(nd2)

{1: 232, 2: 232, 3: 232, 4: 232, 5: 232}
{3: None}

In [63]:
''' Tuples'''
# the tuples are immutable, the elements in the tuples cannot be reassigned easily
t = (1,2,3)
mylist = [1,2,3]
print(type(t))
print(type(mylist))
# tuplese can have multiple elements in the them 
t = ('one',3,56.788,[3,4,5,6])
print(t)

<class 'tuple'>
<class 'list'>
('one', 3, 56.788, [3, 4, 5, 6])

In [70]:
  # we can also do the indexing in the tuples here
print(t[0])
print(t[-1])
'''  THE TWO BASIC METHOD OF THE TUPLES ARE :-'''
T=('A','B','C','A','B')
print(T.count('A'))  # returns the count of the item passed as and arguments here:-
print(T.index('A')) #---- returns the very index of the passed argument

one
[3, 4, 5, 6]
2
0

In [74]:
print(t)
print(mylist)
mylist[0] = 'a4343'
#t[0] = 33434  as you can clearly see the following statement will be giving an error here as the tuples are immutatable .
print(mylist)
print(t)

('one', 3, 56.788, [3, 4, 5, 6])
['a4343', 2, 3]
['a4343', 2, 3]
('one', 3, 56.788, [3, 4, 5, 6])

In [5]:
'''  SETS ARE UNORDERED COLLECTION OF UNIQUE OBJECTS'''
# MEANING THERE CAN ONLY BE ONE REPRESENTATIVE OF THE SAME OBJECT

MYSET = set()
print(MYSET) # now as you can see it is an empty set here
MYSET.add(17)
print(MYSET)  # now an element is added to the set
MYSET.add(2)
print(MYSET)

set()
{17}
{17, 2}

In [9]:
#we can even create set from an iteratable sequence like list 
mylist =[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9
]
print(set(mylist)) # as you can see duplicate elements are eliminated and a set is created
name = "amirtheesh is a boobs loving bastard"
print(set(name)) # it is creating a set and it does not have any order it can be observed here

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'i', 'm', ' ', 'h', 'o', 'd', 's', 'g', 'n', 'r', 'e', 'l', 'a', 'v', 'b', 't'}

In [17]:
'''       BOOLEANS '''
#OPERATORS THAT RESLULTS IN A TRUE OR FALSE VALUE FOR A PARTICULAR EXPRESSION OF STATEMENTS HERE
print(type(True))
print(1>2)
''' the usage of the relational operators will also definitly result in the boolean operators value here'''
print(2==2)
# if we want a variable to defined but not assign any value not we can assign the value none == NUll value to it for now
v = None
print(v)

<class 'bool'>
False
True
None